section img{
    width: 100%;
}

.homepart{
    padding-top: 50px;
}


.underline{
  height: 4px;
  width: 4rem;
  background-color: orange;
}
.homecard{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
}


